p{
font-family:serif;
text-align: center;
justify-content: center;
width: 800px;
margin: 0 auto;
}

h3{
    text-align: left;
}
.popa{
    text-align:center;
}

body{
    background-color:tan;
}

